.App {
  padding: 24px;
}

.button {
  width: 120px;
  height: 120px;
  font-size: 60px;
}

.box {
  padding: 4px 12px;
  border-bottom: 1px solid #ddd;
  margin: 4px 0;
  display: flex;
}

.box__checkbox {
  margin-right: 8px;
}

.box__text {
  flex: 1;
}
